body {
background-image: url(../images/comics-wallpaper4.jpg)
}
.buttonslook {
    color: white;
    size: 20px;
    font-size: 25px;
    margin: 10px;
    background-color: #5a44b2;
    box-shadow: 0 0 12px 0px black;
    text-shadow: 0.5px 1px 0px black;
}
.container {
    height: 94px;
    color: white;
    font-size: 24px;
    background-color: #5a44b2;
    margin-left: 75%;
    box-shadow: 0 0 black;
    border-style: outset;
    border-image: initial;
    text-align: center;
}
p {
    color: white;
    background: #5a44b2a8;
    margin-right: 90%;
    font-size: 18px;
    width: max-content;
}
.gif {
  padding: 10px;  
}
.superhero-item {
    float: left;
    padding: 10px;
  }
  #header{
    text-align: center;
    color: white;
    background: #2d1753a3;
    width: 70%;
    margin-left: 15%;
  }
  #instructions{
    background: aliceblue;
    height: 20px;
    margin: 10px;
    font-size: 20px;
    width: fit-content;
  }