body {
background-image: url(../images/comics-wallpaper4.jpg)
}
.buttonslook {
    color: white;
    size: 20px;
    font-size: 25px;
    margin: 10px;
    background-color: #5a44b2;
    box-shadow: 0 0 12px 0px black;
    text-shadow: 0.5px 1px 0px black;
}
.container {
    margin-top: 20px;
    color: white;
    font-size: 27px;
    background-color: #5a44b2;
    margin-left: 75%;
    box-shadow: 0 0 black;
    border-width: 15px;
    border-style: outset;
    border-image: initial;
    text-align: center;
}
p {
    color: white;
    background: #5a44b2;
    margin-right: 90%;
    font-size: 18px;
    background-color: purple;
}
